@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &-container {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 4;
  }
  &__prologue {
    border-bottom: 1px solid var(--main-color);
  }
  &__prologue-inner {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    padding: 5px 0;
  }
  &__intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 0;
  }
  &__intro-flex {
    flex: 1 1 0;
  }
  &__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  &__button-fill-out-wrapper {
    padding-right: 0;
  }
  &__button {
    width: 100%;
    max-width: 240px;
  }
  &__main-menu-wrapper {
    position: relative;
  }
  &__main-menu {
    background: var(--main-color);
  }
}

.header-address {
  display: flex;
  align-items: center;
  color: #464646;
  &__icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 9px;
    height: 13px;
    background-image: url(../images/icons/map-pointer.svg);
    margin-right: 5px;
  }
}

.header-contacts {
  display: flex;
  &__flex-blank-space {
    flex: 1 1 auto;
  }
  &__contact {
    display: flex;
    align-items: center;
  }
  &__contact-phone {
    font-size: 1.25rem;
    margin-bottom: 9px;
  }
  &__contact-text {
    flex: auto;
    text-align: right;
    white-space: nowrap;
  }
  &__icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
  &__icon-mail {
    background-image: url(../images/icons/email.svg);
  }
  &__icon-phone {
    background-image: url(../images/icons/phone-call.svg);
  }
}

.mobile-bar {
  position: relative;
  z-index: 3;
  background: #FFFFFF;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  display: none;

  &__button {
    @at-root {
      button#{&} {
        display: flex;
        align-items: center;
        padding: 10px 16px;
        border-radius: 10px;
        background: rgba(201, 112, 47, 0.15);
        color: var(--main-color);
        box-shadow: none;
        border: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        height: auto;
        align-self: stretch;
      }
    }
  }
}

.mobile-menu-icon {
  width: 18px;
  margin: 0 8px 0 0;
  cursor: pointer;
  height: 14px;
  position: relative;
  &__string {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 2px;
    background: var(--main-color);
    border-radius: 5px;
    transition: top 0.2s 0.2s, width 0s 0.2s, margin-left 0s 0.2s, transform 0.2s 0s, opacity 0.2s 0.2s;
  }
  .mmb-string-1 {

  }
  .mmb-string-2 {
    top: 6px;
  }
  .mmb-string-3 {
    top: 12px;
  }

  header.show-mobile-menu {
    padding-top: 10px;
  }

  .header.show-mobile-menu &__string {
    transition: top 0.2s 0s, width 0s 0.2s, margin-left 0s 0.2s, transform 0.2s 0.2s, opacity 0.2s 0s;
  }
  header.show-mobile-menu &__string.mmb-string-1 {
    top: 6px;
    transform: rotate(-45deg);
  }
  header.show-mobile-menu &__string.mmb-string-2 {
    opacity: 0;
  }
  .header.show-mobile-menu &__string.mmb-string-3 {
    top: 6px;
    transform: rotate(45deg);
  }

}

.main-menu {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    flex: 1 0 auto;
    position: relative;
  }
  &__item-link {
    display: block;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 22px;
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
    transition: 0.2s;
  }
  &__item:hover &__item-link {
    background: rgba(0, 0, 0, 0.1);
    transition: 0s;
  }
  &__item.has-sub-menu &__item-text {
    position: relative;
    margin-right: 12px;
  }
  &__item.has-sub-menu &__item-text:after {
    content: '';
    top: calc( 50% - 2px );
    right: -12px;
    position: absolute;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 6px;
    height: 6px;
    background-image: url(../images/icons/arrow-obtuse.svg);
    margin-left: 5px;
    transform: rotate(90deg);
    transition: 0.2s;
  }
  &__sub-menu {
    visibility: hidden;
    opacity: 0;
  }
  &__sub-menu {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(5px);
  }
  &__item:hover &__sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &__item.has-sub-menu:hover &__item-text:after {
    transform: rotate(-90deg);
  }
}
.sub-menu {
  z-index: 10;
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
  width: 300px;
  left: -75px;

  &__list {
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    padding: 10px 10px;
    background: #FFFFFF;
  }
  &__item-link {
    display: block;
    line-height: 22px;
    font-size: 16px;
    padding: 12px 20px;
    transition: 0.2s;
    border-radius: 10px;
  }
  &__item-link:hover {
    background: var(--main-color-transparent-bg);
  }
}

.footer {
  background: var(--main-color-dark);
  color: #FFFFFF;
  padding: 30px 0;
  font-size: 12px;

  &__inner {
    display: flex;
    align-items: center;
  }
  &__flex {
    flex: 1 1 0;
  }
  &__social-list {
    display: flex;
    justify-content: center;
  }
  &__social-item {
    transition: 0.1s;
  }
  &__social-item:hover {
    transform: translateY(-2px);
  }
  &__social-icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-right:20px;
  }
  &__links {
    text-transform: uppercase;
  }
  &__links-inner {
    float: right;
  }
  &__links a {
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  &__links a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }
}







.main-banner {
  height: 33vw;
  min-height: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__bg-blackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 63.65%)
  }
  &__content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__container {
    height: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 700px;
    font-size: 18px;
    line-height: 27px;
  }
  &__title {
    font-size: 2.8em;
    line-height: 1.3em;
    font-weight: 680;

  }
  &__title-inner {
    background: var(--main-color);
    color: #FFFFFF;
    padding: 5px 30px;
  }
  &__title-str-widest {
    border-radius: 10px 10px 10px 0;
  }
  &__title-str-narrowest {
    border-radius: 0 0 10px 10px;
    padding-top: 0;
  }

  &__description {
    margin-top: 20px;
    color: #FFFFFF;
  }
  &__button {
    margin-top: 20px;
  }
}

.section-about {
  margin: 50px 0;
  &__text-n-img {
    margin: 35px 0;
    display: flex;
  }
  &__attention {
    margin: 50px 0;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    background: #E2E2E2;
    color: #000000;
    padding: 27px 20px;
  }
}

.text-n-img {
  &__flex {
    flex: 1 1 0;
  }
  &__text {
    margin-right: 40px;
  }
  &__img {

  }
}

.section-attention {
  background: var(--main-color);
  padding: 30px 10px;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}

.section-tariffs {
  margin: 30px 0;
}

.section-tariffs {
  &__table-wrapper {

  }
  &__table {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
}

.table {
  border-spacing: 20px 10px;
  th, td {
    background: #E1E4E7;
    border-radius: 15px;
    padding: 6px;
    text-align: center;
  }
  th {
    font-weight: normal;
    color: var(--main-color);
    font-size: 18px;
  }
}


.section-benefits {
  margin: 100px 0 50px 0;
  &__items-wrapper {
    padding: 50px 0;
    background: var(--main-color-transparent-bg);
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--main-color);
  }
  &__item-icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    margin-right: 32px;
    flex: 1 0 auto;
  }
  &__item-text {
    flex: 1 1 100%;
  }
  &__item-title {
    font-size: 28px;
    margin-bottom: 28px;
  }
  &__button {
    @at-root {
      button#{&} {
        width: 100%;
        max-width: 340px;
        padding-top: 24px;
        padding-bottom: 22px;
      }
    }
  }
}

.section-process {

  margin: 50px 0;

  &__content-wrapper {
    display: flex;
  }
  &__provide {
    flex: 1 0 0;
  }
  &__block-content {
    padding: 35px 20px 15px 20px;
    border-radius: 15px;
    font-size: 22px;
    line-height: 26px;
    height: 100%;
  }
  &__provide-content {
    background: var(--main-color);
    color: #FFFFFF;
  }
  &__stages {
    flex: 2 0 0;
  }

  &__stages-content {
    background: var(--main-color-transparent-bg);
    position: relative;
  }
  &__stages-content:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../images/icons/checklist-bg.svg);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    height: 87%;
    width: 66%;
    margin-left: 10px;
    opacity: 0.3;
  }
  &__title {
    margin-bottom: 30px;
    position: relative;
    font-size: 1.1em;
  }

  &__list {
    position: relative;
    column-width: 300px;
    list-style: none;
    counter-reset: stages-counter;
  }
  &__list li {
    margin-bottom: 30px;
    counter-increment: stages-counter;
    break-inside: avoid-column;
    padding-top: 5px;
  }
  &__list li:before {
    content: counter(stages-counter) ".";
    font-size: 2.5em;
    margin-right: 5px;
  }
}


@media only screen and (max-width: 1100px) {
  .main-banner__content {
    font-size: 16px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 1000px) {

  .mobile-bar {
    display: flex;
  }

  .header__intro-callback-wrapper {
    display: none;
  }
  button.header__button {
    //padding: 10px 10px;
    //font-size: 16px;
    //max-width: 200px;
  }
  .header-contacts__contact-phone {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .header-contacts__email {
    font-size: 14px;
  }
  .header-contacts__icon {
    margin-right: 10px;
  }


  .header__main-menu {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(-10px);
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  header.show-mobile-menu .header__main-menu {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }

  .main-menu__list {
    flex-direction: column;
  }
  .main-menu__item-link {
    text-align: left;
    padding: 15px 0;
  }
  .main-menu__item:hover .main-menu__item-link {
    background: rgba(0,0,0,0);
  }
  .sub-menu__item-link:hover {
    background: transparent;
  }

  .main-menu__sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: 0s;
  }

  .sub-menu {
    position: relative;
    display: none;
    left: 0;
    width: 100%;
  }
  .sub-menu__list {
    background: transparent;
    padding: 0;
    box-shadow: none;
  }
  .sub-menu__item-link {
    color: #FFFFFF;
  }

  .main-menu__item.has-sub-menu:hover .main-menu__item-text:after {
    transform: rotate(90deg);
  }
  .main-menu__item.has-sub-menu.show .main-menu__item-text:after {
    transform: rotate(-90deg);
  }

  .header__logo {
    max-width: 180px;
  }

  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__links {
    margin-top: 20px;
    flex: 1 1 100%;
  }
  .footer__links-inner {
    float: none;
  }
  .footer__social-icon {
    width: 26px;
    height: 26px;
  }
  .footer__social-list {
    justify-content: flex-end;
  }

  /* ************************* */


  .main-banner__content {
    font-size: 14px;
    line-height: 23px;
  }
  .main-banner__title-inner {
    padding: 2px 15px;
  }

  /* ************************* */

  .section-benefits__items {
    gap: 20px;
  }
  .section-benefits__item-icon {
    width: 70px;
    height: 70px;
  }
  .section-benefits__item-title {
    font-size: 24px;
  }
  .section-benefits__item {
    font-size: 20px;
    align-items: start;
  }
  button.section-benefits__button {
    padding-top: 12px;
    padding-bottom: 12px;
    align-self: flex-end;
  }

  /* ************************* */



  /* ************************* */

  .table {
    border-spacing: 10px 5px;
  }

}


@media only screen and (max-width: 800px) {
  button.header__button {
    padding: 8px;
    font-size: 14px;
  }
  .main-banner__title {
    font-size: 2em;
  }
}


@media only screen and (max-width: 700px) {

  .header__button-fill-out-wrapper {
    display: none;
  }


  /* ************************* */


  .section-about__text-n-img {
    flex-direction: column;
  }
  .text-n-img__text {
    order: 2;
    margin-right: 0;
    margin-top: 20px;
  }

  /* ************************* */


  h1.section-title {
    font-size: 28px;
    line-height: 36px;
  }
  h1.section-title:after {
    height: 3px;
  }

  .section-tariffs__table-wrapper {
    overflow: auto;
  }
  .section-tariffs__table {
    white-space: nowrap;
  }

  .section-benefits__items {
    grid-template-columns: 1fr;
  }
  button.section-benefits__button {
    margin-top: 20px;
    width: 100%;
    max-width: none;
  }
  .section-benefits__item-title {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .header-contacts__contact-text {
    display: none;
  }
  .header-contacts__icon {
    margin: 0;
  }
  .header__intro-flex {
    flex: inherit;
  }
  .section-attention {
    font-size: 22px;
    line-height: 27px;
  }
  .section-process__block-content {
    font-size: 16px;
    line-height: 20px;
  }
}


@media only screen and (max-width: 500px) {


  .main-banner__title {
    font-size: 1.5em;
  }
  .main-banner__description {
    line-height: 1.5em;
  }
  .section-benefits__item-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  .section-benefits__item-title {
    font-size: 20px;
  }
  .section-benefits__item {
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .section-process__content-wrapper {
    flex-direction: column;
  }
  .footer__social {
    flex: 1 1 100%;
    margin-top: 20px;
  }
  .footer__social-list {
    justify-content: flex-start;
  }
  .section-about__attention {
    font-size: 20px;
    line-height: 30px;
    padding: 27px 10px;
  }
}